<%- include header%>
    <form method="post">
         title:<br/>
        <input type="text" name="title" value=""><br/>
        content:
        <textarea name="content" rows="20" cols="100"></textarea></br>
        blog image:<input type="file" name="blogimage"><br/>
        <input type="submit" value="publish">
    </form>
<%- include footer%>